<div data-role="view" data-title="Lista Eventi (ultimi 30)" data-layout="main" data-model="app.eventsService.viewModel">
    <script src="scripts/events.js"></script>
    
    <div id="tabstrip-events">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>
                    <div>Solo sottoscritti:</div>
                    <div class="align-right-70">
                        <input id="events-switch" data-role="switch" data-change="app.eventsService.viewModel.filterlist" data-bind="checked: false" data-off-label="No" data-on-label="Si" />
                    </div>
                </label>
            </li>
        </ul>
        <ul data-role="listview" data-style="inset" id="events-listview"
            data-bind="source: eventDataSource"
            data-template="events-list-template"
            data-pull-to-refresh="true">
        </ul>
    </div>
    
    <!--events list template-->
    <script id="events-list-template" type="text/x-kendo-tmpl">
        <div class="w-item-template# if (expired) { # cs-expired # } else { # cs-notexpired # } #">
            <a href="views/event-single.html?eventid=#:id_esi#" data-cardId="#:id_esi#" data-role="listview-link">
                <span class="km-icon km-notext # if (subscribed) { # km-contacts # } else { # km-more # } # w-icon"></span>
                <div class="w-temp">
                    <span>${data_e}</span> -
                    <span>${descr}</span>
                </div>
            </a>
        </div>
    </script>
</div>